# MariaDB database server configuration file.

[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld_safe]
nice		= 0

[mysqld]
# Basic Settings
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
performance_schema = on

pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
skip-external-locking
bind-address	= 127.0.0.1

# Fine Tuning
max_connections		= 800
connect_timeout		= 5
wait_timeout		= 600
max_allowed_packet	= 256M
thread_cache_size   = 64
sort_buffer_size	= 16M
bulk_insert_buffer_size	= 128M
tmp_table_size		= 512M
max_heap_table_size	= 512M
table_definition_cache = 4096
table_open_cache = 2048

# MyISAM
myisam_recover_options = BACKUP
key_buffer_size		= 256M
myisam_sort_buffer_size	= 256M
concurrent_insert	= 2
read_buffer_size	= 4M
read_rnd_buffer_size = 256K
join_buffer_size = 8M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 2

# InnoDB
innodb_buffer_pool_size = 2G
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency = 0
innodb_autoinc_lock_mode = 2
innodb_stats_on_metadata = 0
innodb_file_per_table = 1

# Query Cache Configuration
query_cache_limit		= 4M
query_cache_size		= 128M
query_cache_type		= 1

# Logging and Replication
general_log             = 0
slow_query_log=1
slow_query_log_file	= /var/log/mysql/mariadb-slow.log
long_query_time = 2
log_slow_verbosity	= query_plan
